menu "**[ SolarEdge setup ]**"
  config SOLAREDGE_USE_LCD
    bool "Enable to use lvgl on ESP32-8048S043"
    default y if IDF_TARGET_ESP32S3
    depends on IDF_TARGET_ESP32S3
    help
      When selected, code will be added to display realtime measurements using a ESP32-8048S043
endmenu
